<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <h1><b>Uspješno ste se prijavili kao admin!</b></h1>

    <div class="glavni">
        <div>Vaša ovlaštenja su: <br>
    <ul>
        <li>Dodavanje nevladinih organizacija u registar</li>
        <li>Uklanjanje nevladinih organizacija iz registra</li>
        <li>Ažuriranje i editovanje podataka</li>
        <li>Promjena podataka za login</li>
        <li>Izmjena podataka zakonske regulative</li>
        <li>Dodavanje koalicija</li>
        <li>Uklanjanje koalicija</li>
        <li>Ažuriranje i editovanje podataka vezanih za koalicije</li>
        <li>Dodavanje saveza</li>
        <li>Uklanjanje saveza</li>
        <li>Ažuriranje i editovanje podataka vezanih za saveze</li>
    </ul>
</div>
    <img src="/Slike/admin.png" alt="admin">
</div>
    
</body>
</html>