<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="zakonskaRegulativa.css">
    <script src="/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <title>Zakonska regulativa</title>
</head>
<body>
    <div class="header">

        <div class="header-container">
            <img src="/Slike/Logo_NVOa/NVOLogo.svg" alt="NVO">

            <div><h1>Zakonska regulativa</h1></div>

            <img style="visibility:hidden;" src="/Slike/NVOLogo.svg" alt="NVO">
        </div>
    </div>

    <div class="nav-bar">

        <div class="nav-options">
            <a href="/index"><button>O nama</button></a>
            <a href="/registri"><button>Registri</button></a>
            <a href="/pridruziSe"><button>Pridruži se</button></a>
            <a href="/zakonskaRegulativa"><button>Zakonska regulativa</button></a>
            <a href="/koalicije"><button>Koalicije</button></a>
                <a href="/savezi"><button>Savezi</button></a>
        </div>

        <div class="burger-menu-button">
            <button onclick="toggleMenu()"><img src="/Slike/Icons/burgerMenuIcon.svg" alt=""></button>
        </div>
        
        <div id="burger-menu-phone">
                        
            <div class="nav-options-burger-menu-contracted">
                <a href="/index"><button>O nama</button></a>
                <a href="/registri"><button>Registri</button></a>
                <a href="/pridruziSe"><button>Pridruži se</button></a>
                <a href="/zakonskaRegulativa"><button>Zakonska regulativa</button></a>
                <a href="/koalicije"><button>Koalicije</button></a>
                <a href="/savezi"><button>Savezi</button></a>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="block one">
            <h3>Osnivanje i registracija NVO-a</h3>
            <p>Postupak osnivanja i registracije nevladinih organizacija pojašnjava razloge i ciljeve osnivanja NVO-a,
                te daje detaljan osvrt na zakonske propise koji regulišu rad NVO-a u BiH. Cilj je da se kroz formu „pitanje-odgovor“ na
                jednostavan način objasni postupak registracije udruženja (termin koji koristi zakon za NVO) kao budućeg pravnog lica i
                njegovog funkcionisanja u pravnom prometu.
                </p>
            <br><br>

            <div class="download">

                <div class="link-one"> <b>Zakon o osnivanju NVO</b>  </div>
                <div class="PDF-button button-one">
                    <a href="" download="Zakon/Zakon_NVO.pdf"><button>
                        <p>PDF</p>
                        <img src="/Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>

                <div class="link-two"> <b>Zakon o registraciji NVO</b></div>
                <div class="PDF-button button-two">
                    <a href="" download="Zakon/Zakon_NVO.pdf"><button>
                        <p>PDF</p>
                        <img src="/Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>
            </div>
        </div>

        <div class="block two">
            <h3>Statut NVO-a</h3>
            <p>Statut je najviši akt jednog udruženja kojim se definiše njegov rad. Zakonom je propisano koja pitanja treba da reguliše, a
                organizacija može istim urediti i druga pitanja kako bi olakšala svoje poslovanje i načine donošenja odluka po određenim
                pitanjima.
                Zbog važnosti ovog akta, te potrebe da svi elementi statuta budu uključeni i precizirani, ovdje su taksativno navedene
                zakonske odredbe o sadržaju statuta iz pojedinačnih zakona na entitetskom i državnom nivou, koje se u najvećoj mjeri
                podudaraju. </p>
            <br><br>

            <div class="download">

                <div class="link-one"><b>Zakon o stautu NVO</b></div>
                <div class="PDF-button button-one">
                    <a href="" download="Zakon/Zakon_NVO.pdf"><button>
                        <p>PDF</p>
                        <img src="../../Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>

                <div class="link-two"><b>Zakon o organima NVO</b></div>
                <div class="PDF-button button-two">
                    <a href="" download="Zakon/Zakon_NVO.pdf"><button>
                        <p>PDF</p>
                        <img src="../../Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>
            </div>

        </div>

        <div class="block three">
            
            <p> <br> Kaznom od 300 KM do 3.000 KM kazniće se zbog prekršaja NVO koje: <br>
                1. obavlja delatnosti koje nisu saglasne ciljevima udruženja ili fondacije (član 3. stav 3., član 4. stav 1., čl.11. i 21.); <br>
                2. u pravnom prometu ne upotrebljava naziv pod kojim je upisan u registar (član 6. stav 2.); <br>
                3. sudu ne prijavi promenu podataka koje se upisuju u registar u roku od 30 dana od dana nastupanja ove promene (član 31.); <br>
                4. ako ne upotrebi višak prihoda nad rashodima ostvarenog obavljanjem privredne delatnosti na način predviđen zakonom i 
                statutom (član 4. stav 2.). <br>
                Kaznom od 100 KM do 1.000 KM za prekršaje iz prethodnog stava ovog člana kazniće se odgovorno lice udruženja ili fondacije.</p>
            <br><br>
        </div>
        
        <div class="block four">
            <h3>Zakon o radu NVO-a</h3>
            <p>Pravni osnov za osnivanje, registraciju i rad nevladinih organizacija utvrđen je Ustavom Bosne i Hercegovine, koji predviđa
                slobodu udruživanja sa drugima u Katalogu prava (čl. 2 tačka 3). To je, dakle, ustavno pravo svih fizičkih i pravnih lica, pa i
                stranih državljana uz određene uslove na teritoriji Bosne i Hercegovine. Djelovanje i rad nevladinih organizacija kao jedne kategorije pravnih lica uređeno je većim brojem
                drugih zakonskih propisa koji regulišu zakonito poslovanje i postupanje svih pravnih lica u pravnom prometu, pa tako i
                udruženja.</p>
            <br><br>

            <div class="download">

                <div class="link-one"><b>Zakon o radu NVO</b></div>
                <div class="PDF-button button-one">
                    <a href="" download="Zakon/Zakon_NVO.pdf"><button>
                        <p>PDF</p>
                        <img src="../../Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>

                <div class="link-two"><b>Zakon o djelovanju NVO-a</b></div>
                <div class="PDF-button button-two">
                    <a href="" download="Zakon/Zakon_NVO.pdf" download=""><button>
                        <p>PDF</p>
                        <img src="../../Slike/Icons/downloadArrowIcon.svg" alt="Download">
                    </button>
                </a>
                </div>
            </div>
        </div>

    </div>

    <div id="back-to-top">
        <a href="#header"><img src="../../Slike/Icons/arrowUp.svg" alt="arrow"></a>
    </div>

    <div class="footer">NVO Cloud |&copy; Copyright | Sva prava zadržana </div>
    
</body>
</html>